@charset "UTF-8";
.view-list {
  /* header 부분 */
  /* 네비게이션 메뉴 */
  /* 동영상 리스트 부분 */
}
.view-list a {
  text-decoration-line: none;
}
.view-list #header {
  position: relative;
}
.view-list #header .background_img {
  width: 100%;
  height: 300px;
}
.view-list #header .profile_area {
  bottom: 0;
  left: 0;
  padding: 1rem 30px;
  position: absolute;
  right: 0;
}
.view-list #header .profile_area .profile_img {
  vertical-align: middle;
  background: #fff none repeat scroll 0 0;
  border: 6px solid #c1f7cc;
  border-radius: 50px;
  height: 90px;
  width: 90px;
}
.view-list #header .profile_area .social {
  color: #fff;
  float: right;
  margin: 62px 0 0;
}
.view-list #header .profile_area .social a {
  background: #000 none repeat scroll 0 0;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 10px;
  margin: 5px;
}
.view-list .nav_menu {
  color: red;
  width: 100%;
  height: 70px;
}
.view-list .nav_menu .nav_menu_name {
  display: inline-block;
  font-weight: bold;
  line-height: 60px;
}
.view-list .nav_menu .nav_menu_list {
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
}
.view-list .nav_menu .nav_menu_list .list_item {
  display: inline-block;
  height: 20px;
  text-align: center;
  padding: 0 10px;
}
.view-list .nav_menu .nav_menu_list .list_item a:hover {
  color: red;
  width: 100%;
}
.view-list .nav_menu .nav_menu_search {
  float: right;
  vertical-align: top;
}
.view-list .nav_menu .nav_menu_search form {
  margin-top: 15px;
}
.view-list .nav_menu .nav_menu_search form input {
  color: grey;
  width: 80px;
  line-height: 30px;
  vertical-align: top;
}
.view-list .container {
  padding: 30px !important;
}
.view-list .container .vidio_header h2 {
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  margin-left: 10px;
}
.view-list .container .vidio_header .vidio_header-sub {
  float: right;
  font-size: 12px;
}
.view-list .container .vidio_header .vidio_header-sub select {
  color: #ff5289;
  font-weight: 800;
}
.view-list .container .video_content {
  width: 100%;
  margin-top: 18px;
  margin-bottom: 18px;
}
.view-list .container .video_content .video-card {
  position: relative;
  width: 232px;
  height: 245px;
  float: left;
  margin: 0 27px 20px 0;
  box-shadow: 10px 5px 5px rgb(224, 222, 222);
}
.view-list .container .video_content .video-card .video_img .video_thumb {
  width: 232px;
  height: 130px;
}
.view-list .container .video_content .video-card .video_img .video_play_btn {
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  left: 12px;
  top: 90px;
}
.view-list .container .video_content .video-card .video_img .video_runningtime {
  width: 36px;
  height: 18px;
  background: #f5234a none repeat scroll 0 0;
  border-radius: 2px;
  bottom: 5px;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  opacity: 0.7;
  padding: 0 6px;
  position: absolute;
  right: 10px;
  top: 105px;
}
.view-list .container .video_content .video_info {
  padding: 10px;
}
.view-list .container .video_content .video_info .video_title {
  line-height: 20px;
  font-size: 13px;
  font-weight: 750;
  margin-bottom: 5px;
}
.view-list .container .video_content .video_info .video_group {
  display: block;
  padding: 5px 0;
  font-weight: 700;
  font-size: 11px;
}
.view-list .container .video_content .video_info .red {
  color: #ff253a;
}
.view-list .container .video_content .video_info .green {
  color: #4eda92;
}
.view-list .container .video_content .video_info .video_detail {
  color: #acacac;
  font-size: 10px;
  font-weight: 500;
  margin: 2px 0 0;
}/*# sourceMappingURL=s_viewList.css.map */